input,
label,
button {
    text-align: right;
    float: right;
}

.art3,
.art2 {
    text-align: center;
}

section .art1 img {
    float: left;
    width: 10%;
    margin: 2% 2% 2% 2%;
}

section .art1 {
    float: center;
}

section .art3 img {
    float: left;
    width: 10%;
    margin: 2% 2% 2% 2%;
}

aside {
    text-align: center;
    float: right;
    width: 250px;
    font-size: 1.25em;
}

aside img,
video {
    max-width: 100%;
    text-align: center;
}

