/*indice*/
body .otro {
    text-align: justify;
    float: left;
    margin-left: 25px;
    margin-right: 25px;
    vertical-align: top;
    width: 250px;
    border: 1px solid black;
}

/*seccion */

body .center{
    float: center;
}

body .asi1 {
    
}