/*@font-face{
    font-family: miFuente;
    src: url(../font/Xanh_Mono/XanhMono-Italic.ttf);
}*/


/*seccion */
body section {
    text-align: justify;
    float: center;
    margin-left: 270px;
    vertical-align: top;
    /*border: 1px solid black;*/
    margin-top: auto;
    text-align: "center";
}

/*indice*/
.ind {
    text-align: justify;
    float: left;
    margin-left: 25px;
    margin-right: 25px;
    vertical-align: top;
    margin-top: 25px;
    border: 1px solid black;
}

.ind1 {
    text-align: justify;
    float: left;
    margin-left: 25px;
    margin-right: 25px;
    vertical-align: top;
    margin-top: auto;
    width: 300px;
    border: 1px solid black;
}

body .enc1 {
    float: center;
    text-align: center;
    width: auto;
}